.card {
  padding: 0.75rem;
  cursor: pointer;
  margin: 1rem;
  width: 100%;
  max-width: calc(((100vw - 1.5rem) / 3) - (0.5rem * 3));
  height: 100%;
}

.card:hover {
  box-shadow: 0px 0px 8px var(--clr-main-accent)
}

.date {
  margin: 0;
}

.type {
  margin: 0;
}