.button {
  font: inherit;
  border: 1px solid var(--clr-main-accent);
  background: var(--clr-main-accent);
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.button:hover,
.button:active {
  background: var(--clr-accent-600);
  border-color: var(--clr-accent-600);
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
