.container {
  margin: 0.75rem;
}

.headingContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entryList {
  display: grid;
  padding: 1rem;
  width: 100%;
  row-gap: 2rem;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 6rem;
  user-select: none;
}

.popup {
  width: 100%;
  height: 100%;
}