.navbar {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: var(--clr-main-accent);
  color: var(--clr-main-bg);
  user-select: none;
  position: relative;
}

.navbar .link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--clr-main-bg);
  opacity: 0.9;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.navbar .link:hover {
  opacity: 1;
}

.navbar .title {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--clr-main-bg);
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  opacity: 1;
}

.links {
  display: flex;
  align-items: center;
}

.links .link {
  margin: 0rem 0.5rem;
  font-size: 0.75rem;
}