@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Ubuntu&display=swap');

:root {
  --clr-main-accent: rgb(0, 149, 255);
  --clr-accent-400: hsla(205, 100%, 50%, 0.3);
  --clr-accent-600: hsl(205, 100%, 60%);
  --clr-main-bg: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 70%);

  --clr-noti-error: hsl(0, 60%, 50%);
  --clr-noti-error-bg: hsl(0, 60%, 90%);
  --clr-noti-success: hsl(120, 60%, 50%);
  --clr-noti-success-bg: hsl(120, 60%, 90%);
  --clr-noti-warning: hsl(50, 90%, 50%);
  --clr-noti-warning-bg: hsl(50, 90%, 90%);
  --clr-noti-announcement: hsl(0, 0%, 50%);
  --clr-noti-announcement-bg: hsl(0, 0%, 90%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 2rem);
  font-family: "Anuphan", sans-serif;
  overflow-y: scroll;
}

body {
  margin: 0;
  background-color: var(--clr-main-bg);
}