.container {
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 8px var(--clr-main-accent);
}

.progressContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progress {
  width: 6ch;
  margin: 0 1rem;
}

.buttonContainer {
  justify-content: space-around;
}