.container {
  width: 100%;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 0.5rem 1.5rem;
  font-size: 0.6rem;
}

.form h1 {
  text-align: center;
  color: var(--clr-main-accent);
  font-size: 1rem;
  margin: 0;
}

.form form {
  margin: 0.5rem 1.5rem 1.5rem;
}

.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 2;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.5rem;
}

.control span {
  font-size: 0.4rem;
  width: 30vw;
  text-align: center;
}

.control input:focus {
  outline: none;
  border-color: var(--clr-main-accent);
  background: var(--clr-accent-400);
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

.actions {
  text-align: center;
}

.actions Button {
  font-size: 0.75rem;
}

.formlinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.45rem;
  text-align: center;
}

.link {
  color: var(--clr-main-accent);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.link:hover {
  opacity: 0.7;
}